name: Build APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip ant python3-pip python3-setuptools \
          libncurses6 libstdc++6 zlib1g-dev libffi-dev libssl-dev python3-dev \
          build-essential libsqlite3-dev sqlite3 bzip2 libbz2-dev zlib1g-dev \
          
